// colors
$textColor = #2c3e50
$accentColor = #31a4de
//$accentColor = #23B5D3
$grayTextColor = #666
$lightTextColor = #999
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$navbarColor = #fff
$headerColor = #DFE0E2
$titleColor = #2978A0
$nprogressColor = $accentColor

// responsive breakpoints
$MQWide = 1440px
$MQNarrow = 1024px
$MQMobile = 768px
$MQMobileNarrow = 480px
